[Unit]
Description=VectorCore SGW-U
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/vectorcore/bin/sgw-u -c /opt/vectorcore/etc/sgw-u.yaml
Restart=on-failure
RestartSec=5s
User=root
Group=root
AmbientCapabilities=CAP_BPF CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_RESOURCE CAP_SYS_ADMIN
CapabilityBoundingSet=CAP_BPF CAP_NET_ADMIN CAP_NET_RAW CAP_SYS_RESOURCE CAP_SYS_ADMIN
LimitMEMLOCK=infinity
LimitNOFILE=1048576
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
