[Unit]
Description=VectorCore SGW-C
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/vectorcore/bin/sgw-c -c /opt/vectorcore/etc/sgw-c.yaml
Restart=on-failure
RestartSec=5s
User=root
Group=root
LimitNOFILE=1048576
NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
